<div class="cart-container">
    {% with item_count=cart|length %}
        <a href="{% url 'cart:cart_detail' %}" class="cart-link">
            <div class="cart-info-container">
                <span class="cart-icon">🛒</span>

                <span class="cart-info">
                    <span class="item-count">{{ item_count }}</span>
                    آیتم
                    <span class="total-price">
                    {{ cart.get_total_price }}تومان</span>
                </span>
            </div>
        </a>
    {% endwith %}
</div>
