.header{
    padding: 20px;
    background-color: mediumpurple;
    color: white;
    text-align: center;
    margin-top: 60px;

}
.container{
    display: flex;
}
.small-div{
    width:170px;
    height:300px;
    background-color: plum;
    padding: 10px;
}
a:link, a:visited{
    color: darkmagenta;
    text-decoration: none;
}
.large-div{
    flex-grow: 1;
    background-color: lightpink;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;

}
.product{
    text-align: center;
    border: 1px solid ;
    padding: 10px;
}
.pic{
    width: 150px;
    height: 150px;
}
.price{
    position: relative;
    margin-top: 10px;
}
.original-price{
    text-decoration: line-through;
    color: red;
}
.discount-price{
    color: white;
}
.product-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.product-detail{
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.discount-price-d {
    color: olivedrab;
}
.product-image{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
}
.product-image img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
.product-description{
    clear: both;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
.cart-container{
    width: 98.2%;
    position: fixed;
    top: 0;

    padding: 10px;
    background-color: lightpink;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);

}
.cart-link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.cart-info-container{
    width: 200px;
    height: 50px;
    background-color: plum;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 20px;

}
.cart-icon{
    color: white;
}
.cart-info{
    color: white;
}


button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}